html,body{
    padding: 0;
    margin: 0;
    height: 100%;
    font-family: 'Exo', sans-serif;
    color: black;
    overflow-x: hidden;
}
aside {
    float: left;
    background: DarkOrchid;
    width: 25%;
    padding: 3%;
    height: 100vh;
    color: Black;
    border-right: 5px dashed Purple
}
aside img {
    float: left;
    width: 250px;
}

aside h3 {
    margin-top: 100px;
    font-size: 30px;
    color: Black;
}
aside ul{
    list-style:none;
}
aside ul li {
    display: block;
    color: black;
    margin-top: 25px;
    transition: transform .6s ease

}
aside ul li:hover,aside ul li:hover {
    color: White;
    text-decoration: none;
    transform: scale(1.05)
}
aside a {text-decoration:none}
main .features {
    float: left;
    margin-top: 20px;
    text-align: center;
    width: 75%;
}
main .features h1 {
    font-size: 50px
}
main .features p {max-width: 1000px; margin-top: 20px auto}

.alert-danger {
    color: black;
    background-color: DarkOrchid;
    float:left;
    width:400px;
    margin:20px;
    text-align:center;
}

aside .btn-info {
    background: Black;
    border:none;
    color: DarkOrchid
}

form {
    margin: auto;
    width: 500px;
    margin-top: 50px
}
.button1 {
  background-color: white;
  color: black;
  border: 2px solid Black;
}

.button1:hover {
  background-color: Black;
  color: white;
}
